<div class="card text-dark mb-3" style="">
    <div class="card-header bg-white border-bottom shadow-sm text-center">Adding a city</div>
    <div class="card-body">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Specify city</label>
                <input type="text" class="form-control" placeholder="London">
            </div>
            <div class="d-grid gap-2">
                <button type="submit" name="add" value="True" class="btn btn-secondary text-white">ADD</button>
            </div>
        </form>
    </div>
</div>