<h3>Information</h3>
{% if cities %}
{% for city in cities %}
<div class="alert alert-success w-65">

    <div class="city row d-flex justify-content-between">

        <div class="col-lg-4">
            <div><b>City: </b><span class="delete_city_title">{{city.city}}</span></div>
            <div><b>Temperature: </b>{{city.temp}}<sup>o</sup></div>
        </div>
        <div class="col-lg-4 text-center">
            <img src="https://openweathermap.org/img/w/{{city.icon}}.png">
        </div>
        <div class="col-lg-4 text-end">
            <button type="button" class="delete_city btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete">
                <i class="fas fa-trash-alt"></i>
            </button>
        </div>
    </div>
</div>

{% endfor %}
<!-- Modal -->
<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteLabel">Are you sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="delete_city_title" id="delete_city_title" class="form-control"
                           style="display: none"/>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                    <button type="submit" name="delete" value="True" class="btn btn-danger">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="alert alert-warning" role="alert">
    No information to withdraw!
</div>
{% endif %}
<script>
    let city = document.querySelectorAll('.city')
    city.forEach((obj) => {
        obj.querySelector('.delete_city').addEventListener('click', () => {
            let city_for_delete = obj.querySelector('.delete_city_title')
            city_for_delete = city_for_delete.textContent
            document.querySelector('#delete_city_title').value = city_for_delete
        })
    })
</script>